.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,128,128, 0.2), 0 6px 20px 0 rgba(0,128,128, 0.19);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 4px 8px 0 rgba(0,128,128, 0.2), 0 6px 20px 0 rgba(0,128,128, 0.19);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 4px 8px 0 rgba(0,128,128, 0.2), 0 6px 20px 0 rgba(0,128,128, 0.19);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.thread-shadow {
  box-shadow: 0 4px 8px 0 rgb(33 61 150 / 10%), 0 6px 20px 0 rgb(33 61 150 / 58%);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0 4px 8px 0 rgb(33 61 150 / 10%), 0 6px 20px 0 rgb(33 61 150 / 58%);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 4px 8px 0 rgb(33 61 150 / 10%), 0 6px 20px 0 rgb(33 61 150 / 58%);
}

.primary-color {
  color: var(--primary-color);
}

.width-30 {
  width: 40vh;
}

.success {
  background-color: green;
  color: white;
}

.error {
  background-color: red;
  color: white;
}

/*------- Grid css -------*/

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-space {
  column-gap: 2em;
}

.grid-span-2 {
  grid-column: 2/ span 7;
}

.grid-span-8 {
  grid-column: 2/ span 3;
}

.flex-auto {
  flex: auto;
}

.grid-gap-5 {
  gap: 5em;
}

.grid-gap-1 {
  gap: 10px;
}

.flex {
  display: flex;
}

.flex-gap-2 {
  gap: 2em;
}

.flex-right {
  justify-items: right;
  justify-content: flex-end;
}

.flex-left {
  justify-items: left;
  justify-content: flex-start;
}

.flex-center {
  place-content: space-around;
}

/*------- Container -------*/

.container {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}

.smallContainer {
  max-width: 1300px;
  width: 50%;
  margin: 0 auto;
}

.footer-container {
  max-width: 1300px;
  width: 60%;
  margin: 0 auto;
}

footer {
  background-color: var(--background-color);
  padding: 0.4em;
  clear: both;
}

footer p {
  color: var(--secondary-color);
}

.blog-item {
  padding: 1em;
  margin-bottom: 2em;
}

.blog-section {
  padding: 2em 0;
}

.time-stamp {
  text-align: right;
  font-weight: bold;
}

.blog-sub-heading {
  background-color: var(--primary-color);
  color: white;
  padding: 1em;
}

.blog-sub-heading h2, .blog-sub-heading span {
  color: white;
}

.small-font {
  font-weight: normal;
  color: white;
  font-style: italic;
}

.hero-banner {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

.single-blog-heading {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 40px;
  padding: 0.5em 0;
}


.single-blog-date-time {
  background-color: lightgoldenrodyellow;
}

.template-content {
  padding: 1em 0;
  font-family: inherit;
}

.template-content a {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

.hero-banner img {
  width: 90%;
  height: 100%;
}

.bounce {
  animation: bounce 2s infinite;
  padding: 4em 0 1em 0;
}

.blog-heading {
  padding: 0 0 2em 0;
}

.blog-heading input {
  padding: 0.1em;
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--background-color);
  width: 50%;
}

.basic-blog-info {
  padding: 1em 0 0 0;
}

.blog-description {
  padding: 1em 0 0 0;
}

.link-to-home {
  padding: 1em 0 0 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
  color: var(--gray-color);
}

.link-to-blog {
  color: var(--primary-color);
  padding: 1em 0 0 0;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  text-decoration: double;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}