/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .hero-banner {
    position: relative;
    height: auto;
  }
  .hero-banner img {
    width: 100%;
  }
  .blog-post .grid-cols-2, .blog-section .grid-cols-2 {
    grid-template-columns: repeat(1, auto);
  }
  .blog-heading h2, .blog-heading div {
    text-align: center;
  }
  .blog-heading div {
    margin-top: 1em;
  }
  main {
    padding: 1em;
  }
  .logo h1 {
    font-size: 15px;
  }
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-banner {
    position: relative;
    height: auto;
  }
  .hero-banner img {
    width: 100%;
  }
  .blog-post .grid-cols-2, .blog-section .grid-cols-2 {
    grid-template-columns: repeat(1, auto);
  }
  .blog-heading h2, .blog-heading div {
    text-align: center;
  }
  .blog-heading div {
    margin-top: 1em;
  }
  main {
    padding: 1em;
  }
  .logo h1 {
    font-size: 15px;
  }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-banner {
    position: relative;
    height: auto;
  }
  .hero-banner img {
    width: 100%;
  }
  .blog-post .grid-cols-2, .blog-section .grid-cols-2 {
    grid-template-columns: repeat(1, auto);
  }
  .blog-heading h2, .blog-heading div {
    text-align: center;
  }
  .blog-heading div {
    margin-top: 1em;
  }
  main {
    padding: 1em;
  }
  .logo h1 {
    font-size: 15px;
  }
}